<div class="button-container">
  <button mat-button color="primary" *ngIf="comprobarRol(cursoId)" (click)="navegarContenido()">Crear contenido</button>
  <button mat-button color="warn" *ngIf="comprobarRol(cursoId)===false" (click)="todos()" >Salirme del curso</button>
</div>

<div *ngIf="contenidos.length > 0">
  <h2>Contenidos del Curso</h2>
  <div class="cards-container">
    <div *ngFor="let contenido of contenidos" class="card-wrapper">
      <mat-card >
        <div (click)="navigateVitaContenido(contenido.id)">
        <mat-card-header>
          <mat-card-title>{{ contenido.titulo }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="contenido.descripcion">
            <p>{{ contenido.descripcion }}</p>
          </div>
          <div *ngIf="contenido.enlace">
            <p><a [href]="contenido.enlace" target="_blank">Enlace</a></p>
          </div>
          <div *ngIf="contenido.video">
            <p><a [href]="contenido.video" target="_blank">Ver Video</a></p>
          </div>
          <mat-divider></mat-divider>
        </mat-card-content>
      </div>
        <mat-card-actions>
          <button mat-button color="primary" *ngIf="comprobarRol(cursoId)"
            (click)=" navigateVitaContenido(contenido.id)">Editar</button>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button mat-mini-fab color="warn" *ngIf="comprobarRol(cursoId)"
                  (click)="eliminarContenido(contenido.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="contenidos.length === 0" class="no-content">
  <p>No hay contenidos para este curso.</p>
</div>