.barra {
    flex: 1 1 auto;
}
mat-toolbar {
    background-color: #fffff9;
}

.registrate {
    color: white;
    margin-left: 5px;
    background-color: #88c9bf;
}

.saula:hover {
    font-weight: bold;
    cursor: pointer;
}
span:hover{
    cursor: pointer;
}

.login {
    color: #88c9bf;
}

