<div class="containere">
  <div class="container">
    <div class="illustration">
      <img src="../../../assets/imagenLogin.jpg" alt="Illustration">
    </div>
    <div class="form-section">
      <h1>Inicia sesión</h1>
      <p>Podrás crear y unirte a cursos desde el primer momento!!</p>
      <form>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required" />
        <button type="submit" (click)="login()">Log in</button>
      </form>
      <div class="login-link">
        ¿No tienes cuenta? <a (click)=" navigateRegister()">Registrate</a>
      </div>
    </div>
  </div>
</div>