.Layout_layout__gD1g2 {
    display: flex;
    flex-direction: column;
}

.Layout_layout__gD1g2>*+* {
    margin-top: 6rem
}

@media(min-width: 1024px) {
    .Layout_layout__gD1g2>*+* {
        margin-top:8rem
    }
}

@media(min-width: 1440px) {
    .Layout_layout__gD1g2>*+* {
        margin-top:11.375rem
    }
}

.Button_btn__YK80J {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #1a2233;
    font: inherit;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: all .2s
}

.Button_btn--large__H7xQW {
    padding: 1rem 2rem;
    font: 700 1.125rem/1.55 Moderat,Arial,sans-serif
}

.Button_btn--primary__f6V4z {
    background: #3cff64
}

.Button_btn--primary__f6V4z:hover {
    background: rgba(60,255,100,.7)
}

.Button_btn--secondary__3H8iX {
    color: #fff;
    background: #1a2233
}

.Button_btn--secondary__3H8iX:hover {
    background: rgba(26,34,51,.75)
}

.Heading_heading__deco__Oa4NL {
    animation: Heading_blink__hOE6g 1.5s step-end infinite
}

.Heading_heading--large__L_O_V {
    font: 3.18rem/1.01 Moderat,Arial,sans-serif
}

@media(min-width: 1024px) {
    .Heading_heading--large__L_O_V {
        font:4.43rem/1.12 Moderat,Arial,sans-serif
    }
}

@media(min-width: 1440px) {
    .Heading_heading--large__L_O_V {
        font:5rem/1.05 Moderat,Arial,sans-serif
    }
}

.Heading_heading--medium__OsA_c {
    font: 2.62rem/1.14 Moderat,Arial,sans-serif
}

@media(min-width: 1024px) {
    .Heading_heading--medium__OsA_c {
        font:3.5rem/1.14 Moderat,Arial,sans-serif
    }
}

@media(min-width: 1440px) {
    .Heading_heading--medium__OsA_c {
        font:4rem/1.05 Moderat,Arial,sans-serif
    }
}

@keyframes Heading_blink__hOE6g {
    0% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }

    to {
        visibility: visible
    }
}

.Icon_icon__iTwZ_ {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size)
}

.Icon_icon__iTwZ_>svg {
    display: block;
    width: 100%;
    height: 100%
}

.Icon_icon--medium__p5Ym5 {
    --icon-size: 1.5rem
}

.CircleIconButton_icon-btn__Shgrg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    font-family: inherit;
    border: none;
    border-radius: 50%;
    transition: all .2s
}

.CircleIconButton_icon-btn--medium__ITd71 {
    --size: 4rem
}

.CircleIconButton_icon-btn--light__ij3If {
    color: #1a2233;
    background: #fff
}

.CircleIconButton_icon-btn--light__ij3If:hover {
    background: hsla(0,0%,100%,.7)
}

.CircleIconButton_icon-btn--dark__mUTx3 {
    color: #fff;
    background: #1a2233
}

.CircleIconButton_icon-btn--dark__mUTx3:hover {
    background: rgba(26,34,51,.75)
}

.Container_container__t0_ch {
    width: var(--container-width);
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--container-padding)
}

.Hero_hero__U198T {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

@media(min-width: 1024px) {
    .Hero_hero__U198T {
        flex-direction:row;
        gap: 3rem;
        max-width: 72rem
    }
}

@media(min-width: 1440px) {
    .Hero_hero__U198T {
        gap:8rem
    }
}

.Hero_hero__content__5NTpA {
    text-align: center
}

@media(min-width: 1024px) {
    .Hero_hero__content__5NTpA {
        max-width:41.5rem;
        text-align: left
    }
}

.Hero_hero__cta__IWX6O {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0
}

@media(min-width: 1024px) {
    .Hero_hero__cta__IWX6O {
        justify-content:flex-start
    }
}

.Hero_hero__tip__RcsQg {
    font: 1rem/1.5 Moderat,Arial,sans-serif
}

.Hero_hero__story__cOm8X {
    display: none;
    flex-shrink: 0;
    box-shadow: 0 20px 30px rgba(0,0,0,.15)
}

.Hero_hero__story__cOm8X,.Hero_hero__story__cOm8X>* {
    overflow: hidden;
    border-radius: 2rem
}

.Hero_hero__story__cOm8X>*>:first-child {
    border-radius: 2rem 2rem 0 0
}

@media(min-width: 1024px) {
    .Hero_hero__story__cOm8X {
        display:block;
        max-width: 20.5rem
    }
}

@media(min-width: 1440px) {
    .Hero_hero__story__cOm8X {
        max-width:none
    }
}

.KeyPoints_keypoints__j6i7a {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

@media(min-width: 1024px) {
    .KeyPoints_keypoints__j6i7a {
        flex-direction:row;
        gap: 1.5rem;
        align-items: center
    }
}

@media(min-width: 1440px) {
    .KeyPoints_keypoints__j6i7a {
        gap:4rem;
        max-width: 80rem;
        margin: 0 auto
    }
}

.KeyPoints_keypoints__header__XWEgG {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center
}

.KeyPoints_keypoints__lead__ty_Wm {
    font: 1rem/1.5 Moderat,Arial,sans-serif
}

.KeyPoints_keypoints__cards__V_pBj {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 2rem
}

.MiniCard_minicard__2eS8H {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: .25rem
}

.MiniCard_minicard__title__MhzUk {
    font: 700 1.31rem/1.33 Moderat,Arial,sans-serif
}

@media(min-width: 480px) {
    .MiniCard_minicard__title__MhzUk {
        font:700 1.5rem/1.33 Moderat,Arial,sans-serif
    }
}

.MiniCard_minicard__sticker__6D_TH {
    display: none
}

@media(min-width: 480px) {
    .MiniCard_minicard__sticker__6D_TH {
        display:block;
        min-width: 6rem
    }
}

.MiniCard_minicard--1__qUloW {
    background: #3cff64
}

.MiniCard_minicard--2__l8LZj {
    color: #fff;
    background: #7026f4
}

.MiniCard_minicard--3__JvvFE {
    background: #fef878
}

.Changelog_changelog__0lUvw {
    padding: 1rem;
    color: #fff;
    background: #1a2233
}

.Changelog_changelog__content__ZCmB6 {
    --grid-spacing: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--grid-spacing);
    gap: var(--grid-spacing)
}

@media(min-width: 1024px) {
    .Changelog_changelog__content__ZCmB6 {
        grid-auto-flow:column;
        grid-template-rows: repeat(12,5rem);
        grid-template-columns: repeat(2,1fr);
        gap: 0 var(--grid-spacing);
        margin: -6rem 0;
        padding: 0 var(--grid-spacing)
    }

    .Changelog_changelog__content__ZCmB6>:not(.Changelog_changelog__title__4JCnX) {
        --offset: calc((-50vh + (var(--top) * 1px) + (var(--height) / 2 * 1px)));
        grid-row: span 6;
        transform: translateY(calc(var(--offset) / 10))
    }

    .Changelog_changelog__content__ZCmB6>:not(.Changelog_changelog__title__4JCnX):first-of-type {
        margin-bottom: var(--grid-spacing)
    }
}

@media(min-width: 1440px) {
    .Changelog_changelog__content__ZCmB6 {
        --grid-spacing:6rem;
        grid-template-rows: repeat(12,6rem)
    }
}

.Changelog_changelog__title__4JCnX {
    margin: 1rem 0;
    text-align: center
}

@media(min-width: 1024px) {
    .Changelog_changelog__title__4JCnX {
        grid-row:3/6;
        grid-column: 2
    }
}

.ChangelogCard_card__Ie_Ld {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    padding: 1.5rem 2rem;
    overflow: hidden;
    background: no-repeat bottom;
    background-size: cover;
    border-radius: .25rem
}

.ChangelogCard_card--light__aS7w9:not(.ChangelogCard_card--codely__DeMpv) {
    color: #fff;
    background-color: #1a2233
}

.ChangelogCard_card--dark__PC_aj {
    color: #1a2233;
    background-color: #efefef
}

.ChangelogCard_card__Ie_Ld img {
    object-fit: cover
}

.ChangelogCard_card__Ie_Ld>:not(.ChangelogCard_card__image__UORQE) {
    z-index: 1
}

.ChangelogCard_card__image__UORQE {
    z-index: 0
}

.ChangelogCard_card__platform__T2SPg {
    display: flex;
    align-items: center;
    margin-bottom: auto
}

.ChangelogCard_card__platform__T2SPg>:first-child {
    margin-right: .5rem
}

.ChangelogCard_card__title__m_11U {
    margin-top: 1.25rem;
    font: 700 1.31rem/1.33 Moderat,Arial,sans-serif
}

.ChangelogCard_card__subtitle__AUWxT {
    font: 1.31rem/1.33 Moderat,Arial,sans-serif
}

.Value_value__AhCrP {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between
}

@media(min-width: 1440px) {
    .Value_value__AhCrP {
        max-width:72rem;
        margin: 0 auto;
        padding-right: 9rem
    }
}

@media(min-width: 1024px) {
    .Value_value__cards__DWd2e {
        max-width:34rem;
        padding: 0 1.5rem
    }
}

.Value_value__story___NP_e {
    display: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.25)
}

.Value_value__story___NP_e,.Value_value__story___NP_e>* {
    overflow: hidden;
    border-radius: 2rem
}

.Value_value__story___NP_e>*>:first-child {
    border-radius: 2rem 2rem 0 0
}

@media(min-width: 1024px) {
    .Value_value__story___NP_e {
        display:block
    }
}

.ChatCard_card__k7Wjg {
    --chat-bg: #efefef;
    --bd-radius: 0.25rem;
    --tip-offset: 1.5rem;
    position: relative;
    padding: 1.5rem 2rem;
    background: var(--chat-bg);
    border-radius: var(--bd-radius)
}

.ChatCard_card__title__1f8EL {
    font: 700 1.31rem/1.33 Moderat,Arial,sans-serif
}

@media(min-width: 480px) {
    .ChatCard_card__title__1f8EL {
        font:700 1.5rem/1.33 Moderat,Arial,sans-serif
    }
}

.PricingWrapper_pricing__2UMtV {
    padding: 3rem 0;
    background: #1a2233
}

@media(min-width: 1024px) {
    .PricingWrapper_pricing__2UMtV {
        padding:8rem
    }
}

.PricingWrapper_pricing__content__naLGA {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    max-width: 54rem;
    margin: 0 auto
}

.Pricing_card__mpL0J {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background: #fff;
    border-radius: .25rem
}

@media(min-width: 1024px) {
    .Pricing_card__mpL0J {
        min-height:39rem;
        padding: 3rem
    }
}

.Pricing_card--secondary__zXzIh {
    color: #fff;
    background: transparent;
    border: 1px solid
}

.Pricing_card__header__tMbug {
    margin-bottom: 2rem
}

@media(min-width: 1440px) {
    .Pricing_card--narrow__aMdqI .Pricing_card__header__tMbug {
        min-height:9.7rem
    }
}

.Pricing_card__title__8_QR2 {
    font: 700 1.31rem/1.33 Moderat,Arial,sans-serif
}

@media(min-width: 480px) {
    .Pricing_card__title__8_QR2 {
        font:700 1.5rem/1.33 Moderat,Arial,sans-serif
    }
}

.Pricing_card__description__7n7sX {
    margin-top: 1.25rem;
    font: 1.31rem/1.33 Moderat,Arial,sans-serif
}

@media(min-width: 480px) {
    .Pricing_card__description__7n7sX {
        font:1.5rem/1.33 Moderat,Arial,sans-serif
    }
}

.Pricing_card__control__3tFjP {
    margin-top: 1rem
}

.Pricing_card__content__beOAr {
    margin-bottom: auto;
    font: 1rem/1.5 Moderat,Arial,sans-serif
}

.Pricing_card__cta__k1r4C {
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto 0;
    text-align: center
}

.Pricing_card__cta__k1r4C>:last-child {
    width: 100%;
    margin-top: 1rem
}

.Lead_lead__9ZtfY {
    font: .875rem/1.42 Moderat,Arial,sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase
}

.Lead_lead--bold__eDZsh {
    font-weight: 700
}

.Toggle_label__xBxQX {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: #787676;
    font: 1rem/1.5 Moderat,Arial,sans-serif
}

.Toggle_label__switch__ICGZk {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 1.25rem;
    text-indent: -9999px;
    background: #787676;
    border-radius: .625rem;
    cursor: pointer
}

.Toggle_label__switch__ICGZk:after {
    position: absolute;
    top: .125rem;
    left: .125rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
    content: ""
}

.Toggle_input__EoR21 {
    position: absolute;
    visibility: hidden
}

.Toggle_input__EoR21:checked+.Toggle_label__xBxQX .Toggle_label__switch__ICGZk {
    background: #7026f4
}

.Toggle_input__EoR21:checked+.Toggle_label__xBxQX .Toggle_label__switch__ICGZk:after {
    left: calc(100% - .125rem);
    transform: translateX(-100%)
}

.Benefits_benefit__bUE71 {
    display: flex;
    gap: .5rem;
    margin: .75rem 0
}

.Benefits_benefit--enabled__fYbIt {
    font-weight: 700
}

.Tooltip_tooltip__3nK9n {
    position: relative;
    display: inline-block;
    height: 1.5rem;
    margin-left: .5rem;
    vertical-align: middle
}

.Tooltip_tooltip__label__AOo0a {
    position: absolute;
    top: 50%;
    left: 100%;
    width: var(--width,max-content);
    padding: .5rem;
    color: #fff;
    font: .875rem/1.42 Moderat,Arial,sans-serif;
    background: rgba(26,34,51,.9);
    border-radius: .25rem;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .2s
}

.Tooltip_tooltip__3nK9n:hover .Tooltip_tooltip__label__AOo0a {
    visibility: visible;
    opacity: 1
}

.Price_price__0O59S {
    font: 700 1rem/1.5 Moderat,Arial,sans-serif
}

@media(min-width: 1024px) {
    .Price_price__0O59S {
        white-space:nowrap
    }
}

.Price_price__amount__9g1jn {
    font: 3.18rem/1.01 Moderat,Arial,sans-serif;
    font-feature-settings: "tnum"!important;
    font-variant-numeric: tabular-nums!important
}

@media(min-width: 1024px) {
    .Price_price__amount__9g1jn {
        font:4.43rem/1.12 Moderat,Arial,sans-serif
    }
}

@media(min-width: 1440px) {
    .Price_price__amount__9g1jn {
        font:5rem/1.05 Moderat,Arial,sans-serif
    }
}

.Price_price__decimals__sr5bE {
    font: 1.5rem/1.33 Moderat,Arial,sans-serif;
    font-feature-settings: "tnum"!important;
    font-variant-numeric: tabular-nums!important
}

@media(min-width: 480px) {
    .Price_price__decimals__sr5bE {
        font:2rem/1.25 Moderat,Arial,sans-serif
    }
}

.Footer_footer__bV0fn {
    padding-bottom: 1rem;
    font: 1rem/1.5 Moderat,Arial,sans-serif
}

@media(min-width: 1024px) {
    .Footer_footer__bV0fn {
        padding:6rem 0
    }
}

.Footer_footer__section__Ah8g8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0
}

@media(min-width: 1024px) {
    .Footer_footer__section__Ah8g8 {
        margin:4rem 0
    }
}

.UIList_ui-list__H3cgd {
    margin: 0;
    padding: 0;
    list-style: none
}

.UIList_ui-list--horizontal__5esCM {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: inherit
}

.Footer_footer__section--legal__mLESJ a {
    color: #787676;
    text-decoration: none
}
