<div class="containere">
  <div class="container">
    <div class="illustration">
      <img src="../../../assets/formulario.jpg" alt="Illustration">
    </div>
    <div class="form-section">
      <h1>Modificar Contenido</h1>
      <form method="put">
        <input type="titulo" [(ngModel)]="titulo" name="titulo" placeholder="titulo" required="required" />
        <input type="enlace" [(ngModel)]="enlace" name="enlace" placeholder="enlace" required="required" />
        <input type="video" [(ngModel)]="video" name="video" placeholder="video" required="required" />
        <input type="descripcion" [(ngModel)]="descripcion" name="descripcion" placeholder="descripcion"
          required="required" />
        <button type="submit" (click)="modifyContenido()">Modificar contenido</button>
      </form>
    </div>
  </div>
</div>